.favorite-col {
  position: absolute;
  top: 12%;
  left: 18.8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  pointer-events: auto;
}

.fav-btn {
  width: 48px;
  height: auto;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  margin-top: -8px;
}

.fav-btn img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.fav-btn.active {
  filter: brightness(1.4) drop-shadow(0 0 6px red);
}


.led {
  display: block;
  width: 12px !important;
  height: 12px !important;
  min-width: 12px !important;
  min-height: 12px !important;
  max-width: 12px !important;
  max-height: 12px !important;
  border-radius: 50% !important;
  background: #330000;
  opacity: 0.35;
  margin-bottom: 6px;
  pointer-events: none;
  box-shadow:
    inset 0 0 4px #100;
}

.led-on {
  background: #ff2a2a;
  opacity: 1;
  box-shadow:
    0 0 4px #f00,
    0 0 8px #f22,
    0 0 12px #f44,
    inset 0 0 6px #ff6666;
}

