.mode-col {
  position: absolute;
  top: 54%;     
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 4px;     
  pointer-events: auto;
}

.mode-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  pointer-events: auto;
}

.led {
  width: 14px;
  height: 14px;
  border-radius: 3px;
  background: #330000;
  opacity: 0.3;
  margin-bottom: 20px;
  pointer-events: none;
  box-shadow: inset 0 0 4px #110000;
}

.led-on {
  background: red;
  opacity: 1;
  box-shadow:
    0 0 4px red,
    0 0 8px red,
    inset 0 0 6px #ff4444;
}

.mode-btn {
  width: 48px; 
  height: auto;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  pointer-events: auto;

  transition: transform 0.1s ease, filter 0.1s ease;
}

.mode-btn img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.mode-btn:active {
  transform: translateY(4px);
}

.mode-btn.active {
  filter: drop-shadow(0 0 6px red) brightness(1.3);
}
