.volume-col {
  width: 12%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
  position: absolute;
  left: 3%;
  top: 15%;
}

.volume-track {
  width: 35%;
  height: 80%;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 12px;
  position: relative;
  cursor: pointer;
  pointer-events: auto;
}

.volume-knob {
  position: absolute;
  left: 50%;
  width: 200%;
  height: auto;
  transform: translate(-50%, 0%);
  pointer-events: none;
}
