.button-panel-wrapper {
  position: absolute;
  top: 75.7%;
  left: 4%;
  width: 55%;
  height: 12%;
  pointer-events: auto;
  z-index: 9999;
}

.volume-col,
.favorite-col,
.function-col,
.mode-col {
  position: absolute;
  top: 0;
  height: 100%;
  pointer-events: auto;
}

.volume-col   { left: 1.8%;   width: 13.5%; height: 110%; top: 23%; }
.favorite-col { left: 18.7%;  width: 6.5%; top: 32%; }
.function-col { left: 29.5%;  width: 36.3%; top: 44.5%; }
.mode-col     { left: 68.7%;  width: 24%; top: 29%; }


.fav-stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
}

.fav-stack .unified-led {
  width: 36%;          
  margin-bottom: 40%;  
}

.fav-btn {
  width: 176%;         
  aspect-ratio: 1/1;
}

.func-stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.func-btn {
  width: 92%;          
  aspect-ratio: 1/1;
}

.mode-stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mode-stack .unified-led {
  width: 18%;        
  margin-bottom: 36%;  
}

.mode-btn {
  width: 90%;         
  aspect-ratio: 1/1;
}

.function-col.horizontal-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5%;   
}

.mode-col.horizontal-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fav-btn,
.func-btn,
.mode-btn {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  transform: translateY(0) scale(1);
  transition: transform 0.12s ease, filter 0.12s ease;
}

.fav-btn img,
.func-btn img,
.mode-btn img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.fav-btn:active,
.func-btn:active,
.mode-btn:active {
  transform: translateY(8%) scale(0.96);
}

.fav-btn.active,
.func-btn.active,
.mode-btn.active {
  transform: translateY(12%) scale(0.92);
  filter: brightness(1.3);
}

.unified-led {
  background: #2a2a2a;
  box-shadow: inset 0 0 4px #000;
  opacity: 0.35;
  border-radius: 50%;
  aspect-ratio: 1/1;
}

.unified-led.on {
  background: red;
  opacity: 1;
  box-shadow:
    0 0 6px red,
    0 0 12px red,
    0 0 18px red;
}

.volume-track {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
}

.volume-knob {
  position: absolute;
  left: 50%;
  width: 40%;
  height: 60%;
  pointer-events: none;
}

