.deck-container {
  position: relative;

  width: 53%;                
  max-width: 1800px;         
  aspect-ratio: 2885 / 2553; 

  pointer-events: none;    
}

.deck-skin {
  width: 100%;
  height: auto;
  display: block;
  pointer-events: none;
}

.deck-container {
  position: relative;  
}
