.scaling-wrapper {
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 0;          
  padding-top: 0;  
}

.searchbar-row {
  width: 100%;
  height: 8%;          
  min-height: 70px;   
  display: flex;
  justify-content: center;
  align-items: center;
}

.deck-row {
  width: 100%;
  display: flex;
  justify-content: center;
}
