.searchbar-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 0.8%;
}

.searchbar-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1%;
  width: 40%;              
  height: 40px;            
  background: #444;        
  border: 2px solid #222;
  border-radius: 6px;
  padding: 0 1%;
}

.search-label {
  font-family: var(--font-marker);
  font-size: 1rem;
  color: #ddd;
  margin-right: 0.5%;
  white-space: nowrap;
}

.search-led {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #2a2a2a;
  box-shadow: inset 0 0 4px #000;
}

.search-input {
  flex: 1;
  height: 70%;
  background: #222;
  border: 1px solid #666;
  color: #ddd;
  font-family: "Permanent Marker";
  font-size: 100%;
  padding: 0 8px;
  border-radius: 3px;
}

/* GO BUTTON */
.search-button {
  height: 70%;
  padding: 0 12px;
  background: #666;
  color: white;
  border: 1px solid #444;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.12s;
}

.search-button:hover {
  background: #777;
}

.search-button:active {
  transform: scale(0.95);
}

.search-led {
  margin-right: 8px;
}

.search-led {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #330000; 
  box-shadow: inset 0 0 4px #000;
  margin-right: 8px;
  transition: 0.15s ease;
}

.search-led.on {
  background: red;
  box-shadow:
    0 0 6px red,
    0 0 12px red,
    0 0 20px #ff3b3b;
    animation: searchPulse 1.2s ease-in-out infinite;
}

@keyframes searchPulse {
  0% {
    background: red;
    box-shadow:
      0 0 6px red,
      0 0 12px red,
      0 0 20px #ff3b3b;
  }
  50% {
    background: #ff4d4d;
    box-shadow:
      0 0 10px #ff4d4d,
      0 0 18px #ff4d4d,
      0 0 28px #ff1a1a;
  }
  100% {
    background: red;
    box-shadow:
      0 0 6px red,
      0 0 12px red,
      0 0 20px #ff3b3b;
  }
}