.timer-container {
  position: absolute;

  width: 22%;
  height: 3%; 
  left: 20%;
  top: 69%;

  display: flex;
  justify-content: center;
  align-items: center;

  pointer-events: none;
}

.timer-screen {
  width: 70%;
  height: 100%;
  background: #111;
  border-radius: 8%;

  border: 0.8% solid #2a2a2a;
  box-shadow:
    0 0 6px rgba(0,0,0,0.8) inset,
    0 0 4px rgba(255,0,0,0.25);

  font-family: "Digital-7 Mono", monospace;
  color: #ff3b3b;

  font-size: 90%;
  letter-spacing: 0.1em;

  display: flex;
  justify-content: center;
  align-items: center;
}
