.title-artist-container {
  position: absolute;
  top: 48%;
  left: 11.4%;
  width: 38%;
  height: 9%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.title-placeholder,
.artist-placeholder {
  width: 100%;
  text-align: center;
  font-size: 42;
  padding: 4px 0;
  margin-bottom: 16%;
  font-family: var(--font-marker);
  color: white;
  text-shadow: 0 0 4px black;
  font-size: 120%;
  letter-spacing: 0.05em;
}
